<html>
    <head>
        <title>
        Rules
        </title>   

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <style type="text/css">
        body
        {
            padding: 0;
            margin: 0;
        }

        h1
        {
            font-size: 4em;
            margin:0;
            padding:0;
            text-align: center;
            font-family: 'Al Valenciaga PersonalUseOnly';
            color:cf001a;     
        }

        h2
        {
            font-size: 3em;
            margin:0;
            padding:0;
            text-align: center;
            font-family: 'Al Valenciaga PersonalUseOnly';
            color:white;

            line-height: 50px;    
        }

        p
        {
            font-size: 2em;
            margin:0;
            padding:0;
            text-align: center;
            font-family: 'Al Valenciaga PersonalUseOnly';
            color:white;

            line-height: 75px;
        }
        .img-container
        {
            text-align: center;
        }
        
      </style>
    <head>

    <body 
    background="https://i.imgur.com/fftjv5Y.png">¨
        <h1>
          RULES 
        </h1>
        <br/>
        <h2>
            <s>Thou shalt not</s>
        </h2> 
        <br/>
            <br/>
        <p>Give advice unless directly asked for</p>
        <p>Defy the TOS</p>
        <p>Post links without permission</p>
        <p>Be a cunt</p>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>

        <div class="img-container">
        <img src=https://i.imgur.com/plltiJO.jpg>
              </div>

    </body>
</html>